html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
  background: linear-gradient(to right, bisque, rgb(140, 134, 134));
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
  margin-top: 40px;
  font-size: larger;
}

ol {
  text-align: center;
  list-style-position: inside;
}

img {
  width: 400px;
  border-radius: 200px;
  float: left;
  margin: 50px;
  margin-bottom: 20px;
}

.sinopse {
  font-weight: bold;
  font-size: x-large;
  margin-right: 60px;
}

.ending {
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  margin-top: 0px;
}

.bilheteria {
  font-weight: bolder;
  font-style: italic;
}

em {
  color: grey;
}

button {
  border-style: solid;
  background: linear-gradient(bisque, rgba(85, 85, 6, 0.419));
  color: black;
  height: max-content;
  width: 20%;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 41%;
  margin-bottom: 10px;
}

.final {
  text-decoration: none;
  color: black;
}

.caio {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner1 {
  width: 400px;
  border-radius: 200px;
  margin: 0px;
}

main {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  border: 2px, white;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  padding: 0;
  width: max-content;
  height: max-content;
  align-items: center;
  text-align: center;
}

.botao1 {
  border-style: solid;
  background: linear-gradient(bisque, rgba(85, 85, 6, 0.419));
  color: black;
  height: 25px;
  width: 160px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.botao1 a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.bottom {
  display: flex;
  justify-content: center;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 25px;
  justify-content: center;
  background-color: white;
}

.item-grid {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
}
